<div class="col-md-6 offset-md-3">
  <div class="jumbotron">
    <%= form_with(model: listing) do |form| %>
      <% if listing.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

          <ul>
            <% listing.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group mb-3"><center>
        <%= form.label :category_id, class: "col form-label" %>
        <%= form.select :category_id, @categories.map {|c| [c.name, c.id]}, class: "form-select" %>
      </div>

      <br>

      <div class="form-group mb-3"><center>
        <%= form.label :user_id, class: "col form-label" %>
        <%= form.text_field :user_id %>
        </center>
      </div>

      <br>

      <div class="form-group mb-3"><center>
        <%= form.label :title, class: "col form-label" %>
        <%= form.text_field :title %>
        </center>
      </div>

      <br>

      <div class="form-group mb-3"><center>
        <%= form.label :price, class: "col form-label" %>
        <%= form.number_field :price, step: "0.01" %>
        </center>
      </div>

      <br>

      <div class="form-group mb-3"><center>
        <%= form.label :description, class: "col form-label" %>
        <%= form.text_area :description, class: "form-control" %>
        </center>
      </div>

      <br>

      <div class="form-group mb-3"><center>
        <%= form.label :picture, class: "col form-label" %>
        <%= form.file_field :picture, class: "form-control-file", accept: "image/jpg,image/png" %>
        </center>
      </div>

      <br>

      <h6 class="form-group mb-3"><center>Difficulty</center></h5>

      <div class="form-check form-check-line mb-3 ml-2"><center>
        <% @conditions.each do |option| %>
          <%= form.label :condition, option.capitalize, class: "form-label mr-1" %>
          <%= form.radio_button :condition, option, class: "mr-2" %>
        <% end %>
        </center>
      </div>

      <br>

      <h6 class="form-group mb-3"><center>Features</center></h5>
      <div class="form-check"><center>
        <%= form.collection_check_boxes :feature_ids, @features, :id, :name do |b| %>
        <%= b.label class: 'form-check-label' %>
        <%= b.check_box class: 'form-check-line mr-2' %>
        <% end %>
         </center>
      </div>

      <br>

      <div class="actions">
        <%= form.submit class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>
